body{
  background-color: #141417;
  color: #ffffff;
}

.container{
  max-width: 1200px !important;
}

.spinning{
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.border{
  border-color: #2B2B30 !important;
}

a{
  color: #3199F5 !important;
}

.bg-dark3{
  background-color: #19191E !important;
}

.border-bottom{
  border-color: #2B2B30 !important;
}

.border-top{
  border-color: #2B2B30 !important;
}

.rt-5{
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.bg-dark{
  background-color: #19191E;
}

.bg-dark2{
  background-color: #101012;
}

.bg-light{
  background-color: #F7F7F7 !important;
}

.rounded-5{
  border-radius: .5rem;
}


.scroll-x{
  overflow-x: scroll !important;
}

.testimonial-group > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.testimonial-group > .row > .col-6 {
  display: inline-block;
}